/*
 * App
 */

Header {
    background: #193221;
    color: green;
    opacity: 1.0;
}

.hidden {
    display: none;
}

#tasks-tab {
    margin-left: 1;
}

#topics-tab {
    padding-bottom: 1;
}

#tasks-tab, #notes-tab {
    padding-bottom: 2;
}

/*
 * Tasks Tab
 */

/*
 * Topics Tab
 */


/*
 * Notes Tab
 */
